@charset "UTF-8";

@media only screen and (max-width: 450px) {
    main h2{
        font-size: 1.2em;
    }
    
    header h1{
        font-size: 1.8em;
    }

    header p {
        font-size: 0.9em;
    }

    main p.desc {
        font-size: 0.8em;
        margin-bottom: 0px;
    }

    main > p > label {
        font-size: 0.8em;
    }

    main > input {
        margin-top: 0px;
        font-size: 0.7em;
        margin-bottom: 0px;
    }

    #botao{
        margin-top: -20px;
    }

    #res {
        margin-top: 10px;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #exp{
        font-size: 0.8em;
    }

    img{margin-top: 25px;
        width: 280px;
    }
}

@media only screen and (min-width: 450px) {
    main h2{
        font-size: 1.4em;
    }

    main > p.desc{
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    main > p > label{
        font-size: 1em;
    }

    main > input{
        margin-bottom: 10px;
        font-size: 0.9em;
    }

    .gen{
        margin-bottom: 15px;
    }

    img{
        margin-top: 35px;
        max-width: 500px;
        width: 75vw;
        height: auto;
    }

    #res{
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #exp{
        font-size: 0.9em;
    }
    
}

@media only screen and (min-width: 768px) {
    main > input{
        width: 260px;
        height: 60px;
        font-size: 0.8em;
    }

    main > p > label{
        font-size: 1em;
    }

    header h1{
        font-size: 2.5em;
    }

    header p{
        font-size:1em;
    }

    img{
        transform: translateY(-120px);
        max-width: 500px;
        height: auto;
    }

    #generolabel{
        display: inline-block;
        transform: translate(315px, -189px);
    }
    
    #masculino{
        transform: translate(320px, -190px);
    }
    
    #feminino{
        transform: translate(320px, -190px);
    }
    
    .gen{
        margin-right: 40px;
        transform: translate(320px, -190px);
        font-size: 1em;
    }

    .erro-msg{
        transform: translate(-230px, 65px);
    }

    #botao{
        transform: translate(130px, -138px);
        margin-bottom: 80px;
    }

    input[type="radio"] {
        width: 10px;
        height: 10px;
      }

    main h2{
        font-size: 1.6em;
    }

    main > p.desc{
        font-size: 1em;
    }

    #res{
        font-size: 1.6em;
        transform: translateY(-120px);
    }
    
    #exp{
        font-size: 1em;
        transform: translate(25px,-120px);
        width: 500px;
    }
    
    main > p.desc{
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 992px) {
    main > input{
        width: 35vw;
        height: 60px;
        font-size: 1em;
    }

    main > p.desc{
        margin-bottom: 30px;
    }

    main > p > label{
        font-size: 1.2em;
    }

    header h1{
        font-size: 3em;
    }

    header p{
        font-size:1.2em;
    }

    img{
        transform: translateY(-120px);
        max-width: 600px;
        height: auto;
    }

    #generolabel{
        display: inline-block;
        transform: translate(400px, -198px);
    }
    
    #masculino{
        transform: translate(400px, -190px);
    }
    
    #feminino{
        transform: translate(400px, -190px);
    }
    
    .gen{
        margin-right: 70px;
        transform: translate(400px, -190px);
        font-size: 1.2em;
    }

    .erro-msg{
        transform: translate(-300px, 65px);
    }

    #botao{
        transform: translate(180px, -146px);
        margin-bottom: 60px;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
      }

    main h2{
        font-size: 2em;
    }

    main > p.desc{
        font-size: 1.2em;
    }

    #res{
        font-size: 2em;
        transform: translateY(-120px);
    }
    
    #exp{
        font-size: 1.1em;
        transform: translate(0px,-120px);
        width: 700px;
    }
}
@media only screen and (min-width: 1200px) {
    main > input{
        width: 35vw;
        height: 60px;
        font-size: 1em;
    }

    main > p > label{
        font-size: 1.2em;
    }

    header h1{
        font-size: 3.5em;
    }

    header p{
        font-size:1.4em;
    }

    main > p.desc{
        margin-bottom: 30px;
    }

    img{
        transform: translateY(-120px);
        max-width: 600px;
        height: auto;
    }

    #generolabel{
        display: inline-block;
        transform: translate(600px, -195px);
    }
    
    #masculino{
        transform: translate(600px, -190px);
    }
    
    #feminino{
        transform: translate(600px, -190px);
    }
    
    .gen{
        margin-right: 90px;
        transform: translate(600px, -190px);
        font-size: 1.2em;
    }

    .erro-msg{
        transform: translate(-460px, 65px);
    }

    #botao{
        margin-bottom: 50px;
        transform: translate(250px, -146px);
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
      }

    main h2{
        font-size: 2em;
    }

    main > p.desc{
        font-size: 1.2em;
    }

    #res{
        font-size: 2em;
        transform: translateY(-120px);
    }
    
    #exp{
        font-size: 1.2em;
        transform: translate(95px,-120px);
        width: 800px;
    }
}